@charset "utf-8";

.secBrand {
  background-color: #000;
  position: relative;
}
.secBrand .brandBg1,
.secBrand .brandBg2 {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.secBrand .brandBg1 {
  background-image: url(../img/sub_brand_bg1.jpg);
}
.secBrand .brandBg2 {
  background-image: url(../img/sub_brand_bg2.jpg);
  opacity: 0;
  transition: 2.5s;
}
.secBrand .brandBg2.on {
  opacity: 1;
}

.secBrand .brandCon {
  position: absolute;
  width: 70%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.secBrand .brandTitle {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
}

.secBrand .brandTitle strong,
.secBrand .brandTitle span {
  color: #0062af;
}
.secBrand .brandTitle strong {
  font-size: 2.3rem;
}
.secBrand .brandDes {
  padding-top: 2.5rem;
  line-height: 1.6;
}
.secBrand .brandDes span {
  color: #0062af;
  font-weight: bold;
}
.secBrand .brandDes span:last-of-type {
  font-size: 1.3rem;
  font-weight: bold;
}
